Package         Version
--------------- -------
decouple        0.0.7
distlib         0.3.6
emoji           2.2.0
filelock        3.9.0
pip             22.3.1
platformdirs    3.0.0
python-decouple 3.7
setuptools      65.5.0
termcolor       2.2.0
virtualenv      20.19.0
